<h2>Create and read eachother's articles in this website.</h2>
<ul>
    <li><%= link_to "read all the articles", articles_path() %></li>
    <li><%= link_to 'create a new article', new_article_path(@article) %></li>
    <li><%= link_to "go back to home page", root_path() %></li>
</ul>

<p>this website was developed by</p>
<p>                            ~eplasbaba#4666</p>

